<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    {{> header}}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation" data-view="list">
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="index">
            <p>과제 버튼을 클릭하셔서 보세요.</p>
        </div>
        <div class="hw1">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Button
            </button>
            <div class="tableWrap"></div>
        </div>
    </main>
</div>